
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit title tag</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-blue.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic" rel="stylesheet" type="text/css">
        <link href="css/font-playfair.css" rel="stylesheet" type="text/css">
    </head>

    <body class="boxed-layout">

				
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section class="header header-7">
				<div class="hero-slider">
					<ul class="slides">
						<li>
							<div class="background-image-holder">
								<img alt="Background Image" class="background-image" src="img_new/A.S1440x960.jpeg">
							</div>
			
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<h1 class="text-white">Alexandra’s Custom Shirts<br><br></h1>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			
			<section class="features features-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<ul class="hover-gallery" speed="5000">
								<li>
									<img alt="Individual patterns for men dress shirts" src="img_new/AlexPatten.jpg">
								</li>
								<li class="active">
									<img alt="MTM dress shirt" src="img_new/clubA.C.S.jpg">
								</li>
								<li>
									<img alt="Bespoke custom  dress shirt" src="img_new/11.jpg">
								</li>
							</ul>
						</div>	
					</div>
				
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h3>To Preserve the fine art of men’s custom tailored shirts</h3>
							<p class="lead">&nbsp;Manufacturing luxury bespoke, custom and MTM men’s dress shirts for tailor shops and boutique men’s stores<br></p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="features features-5">
				<div class="container">
					<div class="row v-align-children">
				
						<div class="col-sm-6 feature text-right col-md-4">
							<h4><div><span>Hundred percent manufactured in Toronto Canada</span></div></h4>
							<div><span>Our manufacturing is done in Toronto Canada, &nbsp;allowing us to have the shortest turnaround time. We can have your clients bespoke or made-to measure&nbsp;</span><span>dress shirt in their hands within 10 to 15 business&nbsp;</span><span>days</span><span>.</span></div>
						</div>
					
						<div class="col-sm-6 col-md-offset-1 text-center feature">
							<img alt="Bespoke French cuff,  gentleman dress shirt" src="img_new/Alexandra'scuff.jpeg">
						</div>
		
					</div>
				</div>
			</section>
			
			<section class="features features-5">
				<div class="container">
					<div class="row v-align-children">
				
						<div class="col-sm-6 col-md-5 feature text-right">
							<h4>Quality is all we do</h4>
							<div><span>No matter whether your client is ordering an one off bespoke or several made-to-measure shirts the quality will always be impeccable and consistent. &nbsp; We only use the highest quality cloth from such mills as &nbsp; Albini, Alumo and Thomas Mason to name a few. We are happy to provide sample swatches</span></div>
						</div>
					
						<div class="col-sm-6 col-md-offset-1 text-center feature">
							<img alt="Finest quality men’s dress shirts" src="img_new/Alexandra'scustomshirtsatwork.jpeg">
						</div>
		
					</div>
				</div>
			</section>
			
			<section class="social social-3">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-6">
							<div class="instafeed" data-user-name="alexcustomshirts">
								<ul></ul>
							</div>
						</div>
						
						<div class="col-sm-6 text-center">
							<div class="insta-title">
								<h6>Insta</h6>
								<i class="icon icon-instagram"></i>
								<h6>Gram</h6>
							</div>
							<h4>We're Snap Happy</h4>
							<p>
								Stay connected with us @alexcustomshirts&nbsp;for updates<br> and super special exclusive offers.
							</p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="contact contact-1">
				<div class="map-holder">
					<iframe src="https://goo.gl/maps/ANKe6dKy8Mu"></iframe>
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">We're located in Scarborough, Ont, Ca</h2>
							<h5 class="text-white">TEL: (416) 625-7531<br>FAX (416) 759-6423<br>alex.yiannik@hotmail.com<br></h5>
						</div>
					</div>
				</div>
			
				<div class="map-toggle">
					<div class="switch"></div>
					<h6 class="text-white">Toggle Map</h6>
				</div>
			</section>
		</div>
		
				
		<script src="js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/placeholders.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>

				